@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* wp-block-coverのパディングを削除する */
.wp-block-cover {
  padding: 0 !important;
}

.body {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

body, input {
  font-family: "Roboto", "M PLUS 1", sans-serif;
}

body, input {
  color: #707070;
}

a:not(cite > a) {
  color: #707070;
  text-decoration: none;
}

main {
  color: #3C2A10;
}

html {
  font-size: 10px;
}

ul, ol, li {
  list-style: none;
  padding-left: 0px;
}

button {
  all: unset;
}
button:hover {
  cursor: pointer;
}

.l-footer {
  background-image: url("../../img/レイヤー 1.jpg");
  background-color: #9D8670;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .l-footer {
    grid-row: 3/4;
    grid-column: 1/4;
  }
}

.l-header {
  background-color: #FFF7EF;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .l-header {
    padding: 0 0 15%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .l-header {
    padding: 0 0 7%;
  }
}
@media screen and (min-width: 1024px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.l-main {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .l-main {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.l-section > .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .l-section > .wp-block-group__inner-container {
    flex-flow: column;
  }
}
@media screen and (max-width: 768px) {
  .l-section {
    margin: 6%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .l-section {
    margin: 4%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .l-section {
    margin: 5%;
    justify-content: space-between;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
}
@media screen and (max-width: 768px) {
  .l-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.5s;
    z-index: 999;
    width: 37rem;
    height: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .l-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.5s;
    z-index: 999;
    width: 37rem;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .l-sidebar {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
@media screen and (max-width: 768px) {
  .l-sidebar__box {
    display: block;
    z-index: 50;
    font-size: clamp(2rem, -2.2rem + 5.469vw, 3.4rem);
    position: absolute;
    top: 1.5%;
    right: 3%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .l-sidebar__box {
    display: block;
    z-index: 50;
    font-size: clamp(2rem, -2.2rem + 5.469vw, 3.4rem);
    position: absolute;
    top: 1.5%;
    right: 3%;
  }
}
@media screen and (min-width: 1024px) {
  .l-sidebar__box {
    display: none;
  }
}

.l-sidebar.is-open {
  right: 0;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.l-sidebar__layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.l-sidebar__layer.is-open {
  opacity: 1;
  z-index: 15;
}

@media screen and (min-width: 1024px) {
  .l-container {
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 15%;
  }
}

@media screen and (max-width: 768px) {
  .l-inner--archive {
    margin: 10% 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .l-inner--archive {
    margin: 4% 5%;
  }
}
@media screen and (min-width: 1024px) {
  .l-inner--archive {
    margin: 4% 5%;
  }
}
@media screen and (max-width: 768px) {
  .l-inner--single_page {
    margin: 10% 5% 20%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .l-inner--single_page {
    margin: 4% 5% 17%;
  }
}
@media screen and (min-width: 1024px) {
  .l-inner--single_page {
    margin: 4% 5% 15%;
  }
}

.c-button {
  display: inline-block;
}
.c-button--form {
  border: 1px solid #707070;
  background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
  display: inline-block;
}
.c-button--archive {
  border-radius: 5rem;
  background-color: #FFFFFF;
  text-align: center;
  display: inline-block;
}

.c-flex {
  display: flex;
}

.c-colum > .wp-block-group__inner-container {
  display: flex;
  flex-flow: column;
}

.c-color--white {
  color: #FFFFFF;
}

.c-color_bg--white {
  background: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 768px) {
  .c-color_bg--black-map {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .c-color_bg--black-map {
    background: rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 1024px) {
  .c-color_bg--black-map {
    background: rgba(0, 0, 0, 0.2);
  }
}
.c-color_bg--black-top {
  background: rgba(0, 0, 0, 0.4);
}

.wp-block-quote {
  background-color: #f5f5f5;
}

.c-border--form {
  border: 0.1rem solid #707070;
  border-radius: 1rem;
  vertical-align: middle;
  border-radius: 10px;
}

.c-border--line::after {
  display: block;
  position: absolute;
  z-index: 10;
  content: "";
  border: 0.2rem solid #FFFFFF;
}

.c-border--pagination .page-numbers {
  border: solid 0.1rem #707070;
}

.c-fw-700 {
  font-weight: 700;
}

.c-ff-M {
  font-family: "M PLUS 1", sans-serif;
}

@media screen and (max-width: 768px) {
  .c-text--h1 {
    font-size: clamp(3.6rem, 1.677rem + 5.128vw, 6rem);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .c-text--h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .c-text--h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .c-text--h2 {
    font-size: clamp(2.8rem, 2.146rem + 1.743vw, 3.6rem);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .c-text--h2 {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .c-text--h2 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 768px) {
  .c-text--h3 {
    font-size: clamp(2.4rem, 2.079rem + 0.855vw, 2.8rem);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .c-text--h3 {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .c-text--h3 {
    font-size: 2.8rem;
  }
}

.c-text--h4 {
  font-size: 2rem;
}

.c-text--h5 {
  font-size: 2rem;
}

.c-text--h6 {
  font-size: 2rem;
}

.c-text--p {
  font-size: 1.6rem;
}

.c-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.c-link--pagination {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.c-link--decimal {
  list-style-type: decimal;
}

.c-center {
  align-items: center;
  justify-content: center;
}

.p-header {
  position: relative;
  height: 2.4rem;
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .p-header {
    margin: 4% 1.6%;
    width: 35%;
  }
}
.p-header::before {
  display: block;
  position: absolute;
  z-index: 10;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(/img/mushimegane.png) no-repeat center center/auto 100%;
  display: inline-block;
  top: 1.2rem;
}
@media screen and (max-width: 768px) {
  .p-header::before {
    left: 10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-header::before {
    left: 18.5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-header::before {
    left: 1.5rem;
  }
}
.p-header__title {
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .p-header__title {
    padding: 10% 0 8%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-header__title {
    padding: 5% 0 4%;
  }
}
@media screen and (min-width: 1024px) {
  .p-header__title {
    margin: 2.3% 3.3% 2.4%;
    font-size: clamp(4rem, 1.257rem + 2.679vw, 6.4rem);
  }
}
.p-header__search {
  margin-right: 1.1rem;
  height: 4.6rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
@media screen and (max-width: 768px) {
  .p-header__search {
    width: 58%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-header__search {
    width: 47%;
  }
}
@media screen and (min-width: 1024px) {
  .p-header__search {
    width: 70%;
  }
}
.p-header__submit {
  height: 4.6rem;
}
.p-header__submit:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .p-header__submit {
    width: 23%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-header__submit {
    width: 17%;
  }
}
@media screen and (min-width: 1024px) {
  .p-header__submit {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .p-sidebar__menu {
    display: none;
    padding: 18rem 0 30rem 4.6rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-sidebar__menu {
    display: none;
    padding: 18rem 0 30rem 4.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-sidebar__menu {
    padding: 9rem 0 0 14%;
    font-size: clamp(1.7rem, 0.394rem + 1.565vw, 3.4rem);
  }
}
.p-sidebar__box {
  position: absolute;
  top: -16rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
}
@media screen and (max-width: 768px) {
  .p-sidebar__box::before {
    display: block;
    position: absolute;
    z-index: 10;
    content: "";
    width: 5rem;
    height: 0.6rem;
    transform: rotate(45deg);
    background-color: #707070;
    top: 2rem;
  }
  .p-sidebar__box::after {
    display: block;
    position: absolute;
    z-index: 10;
    content: "";
    width: 5rem;
    height: 0.6rem;
    transform: rotate(135deg);
    background-color: #707070;
    top: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-sidebar__box::before {
    display: block;
    position: absolute;
    z-index: 10;
    content: "";
    width: 5rem;
    height: 0.6rem;
    transform: rotate(45deg);
    background-color: #707070;
    top: 2rem;
  }
  .p-sidebar__box::after {
    display: block;
    position: absolute;
    z-index: 10;
    content: "";
    width: 5rem;
    height: 0.6rem;
    transform: rotate(135deg);
    background-color: #707070;
    top: 2rem;
  }
}

.menu-sidebar-container {
  position: relative;
}
@media screen and (max-width: 768px) {
  .menu-sidebar-container {
    padding: 15rem 0 30rem 4.6rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-sidebar-container {
    padding: 15rem 0 30rem 4.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .menu-sidebar-container {
    padding: 3rem 0 30rem 14%;
    font-size: clamp(1rem, 0.232rem + 0.921vw, 2rem);
  }
}

.menu-item-has-children > a {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .menu-item-has-children > a {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-item-has-children > a {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .menu-item-has-children > a {
    font-size: clamp(1.2rem, 0.278rem + 1.105vw, 2.4rem);
  }
}

#menu-sidebar > .menu-item {
  margin-top: 5rem;
}

.sub-menu {
  margin-top: 3.2rem;
  padding-left: 2rem;
}
@media screen and (max-width: 768px) {
  .sub-menu {
    font-size: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sub-menu {
    font-size: 2rem;
  }
}

.sub-menu > * {
  margin-top: 2rem;
}

.p-card__main > .wp-block-cover__inner-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__main {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__main {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .p-card__main + .p-card__main {
    margin-top: 7%;
  }
}

.p-card__archive {
  display: grid;
  margin-top: 4%;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .p-card__archive-wrap {
    flex-flow: column;
  }
}
.p-card__archive-img {
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .p-card__archive-img {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive-img {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive-img {
    width: 50%;
  }
}
.p-card__archive-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.p-card__archive-content {
  background-color: #3C2B1C;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-card__archive-content {
    width: 100%;
    padding: 10% 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive-content {
    width: 50%;
    padding: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive-content {
    width: 50%;
    padding: 5%;
  }
}
@media screen and (max-width: 768px) {
  .p-card__archive-content .p-card__archive-sub {
    font-size: 1.6rem;
    margin-top: 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive-content .p-card__archive-sub {
    font-size: 1.6rem;
    margin-top: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive-content .p-card__archive-sub {
    font-size: clamp(1.6rem, 0.771rem + 1.473vw, 2.4rem);
    margin-top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .p-card__archive-content .p-card__archive-text {
    margin-top: 3%;
    padding-right: 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive-content .p-card__archive-text {
    margin-top: 2%;
    padding-right: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive-content .p-card__archive-text {
    margin-top: 1.5rem;
    padding-right: 10%;
  }
}
.p-card__archive-content .p-card__archive-button.c-button--archive {
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-card__archive-content .p-card__archive-button.c-button--archive {
    margin: 10% 23% 0;
    padding: 3%;
    width: 55%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive-content .p-card__archive-button.c-button--archive {
    margin: 10% 23% 0;
    padding: 3%;
    width: 55%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive-content .p-card__archive-button.c-button--archive {
    margin: 10% 25% 0;
    padding: 5%;
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .p-card__archive-sub {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive-sub {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive-sub {
    font-size: clamp(1.6rem, 0.771rem + 1.473vw, 2.4rem);
  }
}
@media screen and (max-width: 768px) {
  .p-card__archive-text {
    margin-top: 3%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive-text {
    margin-top: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive-text {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .p-card__archive li + li {
    margin-top: 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-card__archive li + li {
    margin-top: 3%;
  }
}
@media screen and (min-width: 1024px) {
  .p-card__archive li + li {
    margin-top: 2%;
  }
}

.p-main__title {
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-main__title {
    font-size: 4.1rem;
    margin: 3% 6%;
    padding-bottom: 70%;
  }
  .p-main__title.c-border--line::after {
    width: 12%;
    top: 23%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-main__title {
    font-size: clamp(4.1rem, 3.2rem + 1.172vw, 4.4rem);
    margin: 2% 4%;
    padding-bottom: 70%;
  }
  .p-main__title.c-border--line::after {
    width: 10%;
    top: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .p-main__title {
    margin: 5% 3%;
    padding-bottom: 95%;
    font-size: clamp(4.4rem, 0.286rem + 4.018vw, 8rem);
  }
  .p-main__title.c-border--line::after {
    width: 10%;
    top: 20%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-main__body {
    margin: 3%;
  }
}
@media screen and (min-width: 1024px) {
  .p-main__body {
    margin: 3%;
  }
}

@media screen and (max-width: 768px) {
  .p-main__sub {
    padding: 4% 6%;
    margin: 3% 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-main__sub {
    padding: 3% 6%;
    margin: 6%;
  }
}
@media screen and (min-width: 1024px) {
  .p-main__sub {
    padding: 1.5% 3%;
    margin: 3%;
  }
}

@media screen and (max-width: 768px) {
  .p-main__sub-title {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-main__sub-title {
    font-size: clamp(2.2rem, 1.6rem + 0.781vw, 2.4rem);
  }
}
@media screen and (min-width: 1024px) {
  .p-main__sub-title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .p-main__sub-text {
    margin-top: 3%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-main__sub-text {
    margin-top: 5%;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-main__sub-text {
    margin-top: 2%;
    font-size: clamp(1.4rem, 1.171rem + 0.223vw, 1.6rem);
  }
}

.p-footer {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-footer {
    padding: 5% 0 3%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-footer {
    padding: 4% 0 2%;
  }
}
@media screen and (min-width: 1024px) {
  .p-footer {
    padding: 2% 0 1% 0;
  }
}

.menu-footer-container {
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .menu-footer-container {
    margin-top: 18%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-footer-container {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .menu-footer-container {
    margin-top: 2%;
  }
}

#menu-footer {
  display: inline-flex;
}
#menu-footer .menu-item {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #menu-footer .menu-item {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #menu-footer .menu-item {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  #menu-footer .menu-item {
    font-size: 2rem;
  }
}
#menu-footer .menu-item + .menu-item {
  margin-left: 3%;
}
#menu-footer .menu-item + .menu-item a::after {
  display: block;
  position: absolute;
  z-index: 10;
  content: "";
  width: 2rem;
  transform: rotate(90deg);
  border: 0.1rem solid #FFFFFF;
  top: 45%;
  left: -25%;
}
#menu-footer .menu-item a {
  color: #FFFFFF;
  justify-content: center;
  position: relative;
}

.p-footer__layer {
  background-image: url(../../../img/レイヤー\ 1.jpg);
}

.p-map {
  display: block;
  background-image: url(../../../img/スクリーンショット\ 2020-02-10\ 11.47.42.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #646464;
  background-blend-mode: soft-light;
}

.p-map__title {
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-map__title {
    font-size: 3rem;
  }
  .p-map__title.c-border--line::after {
    top: 145%;
    width: 25%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-map__title {
    font-size: 3rem;
  }
  .p-map__title.c-border--line::after {
    top: 135%;
    width: 12%;
  }
}
@media screen and (min-width: 1024px) {
  .p-map__title {
    font-size: clamp(3rem, 2.539rem + 0.552vw, 3.6rem);
  }
  .p-map__title.c-border--line::after {
    width: 10%;
    top: 170%;
  }
}

@media screen and (max-width: 768px) {
  .p-map__entry {
    padding: 10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-map__entry {
    padding: 7% 5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-map__entry {
    width: 60%;
    padding: 5% 7%;
  }
}

.p-map__body {
  line-height: 3.3rem;
}
@media screen and (max-width: 768px) {
  .p-map__body {
    font-size: 1.4rem;
    margin-top: 15%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-map__body {
    font-size: 1.4rem;
    margin-top: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-map__body {
    margin-top: 15%;
    font-size: clamp(0.8rem, 0.186rem + 0.737vw, 1.6rem);
  }
}

@media screen and (max-width: 768px) {
  .p-archive__text.c-text--p {
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-archive__text.c-text--p {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-archive__text.c-text--p {
    margin-top: 2rem;
  }
}

.p-pagination {
  color: #707070;
  font-size: 1.6rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-pagination {
    margin-top: 20%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-pagination {
    margin-top: 12%;
  }
}
@media screen and (min-width: 1024px) {
  .p-pagination {
    margin-top: 8%;
  }
}
@media screen and (max-width: 768px) {
  .p-pagination__text {
    display: none;
  }
}
.p-pagination__icon {
  width: 3rem;
}
@media screen and (max-width: 768px) {
  .p-pagination__icon--previous::after {
    display: block;
    position: absolute;
    z-index: 10;
    content: "前へ";
    left: 3rem;
    top: 12%;
  }
}
@media screen and (max-width: 768px) {
  .p-pagination__icon--next::before {
    display: block;
    position: absolute;
    z-index: 10;
    content: "次へ";
    right: 3.5rem;
    top: 12%;
  }
}
@media screen and (min-width: 1024px) {
  .p-pagination__icon--next {
    display: none;
  }
}
.p-pagination__link .page-numbers {
  background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .p-pagination__link .page-numbers {
    display: none;
  }
}
.p-pagination__link .page-numbers.c-link--pagination {
  width: 3.5rem;
  height: 3.5rem;
}
.p-pagination__link .page-numbers.c-link--pagination a {
  text-align: center;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
}
.p-pagination__link .page-numbers:hover, .p-pagination__link .page-numbers.is-active {
  background-color: #3C2A10;
}
.p-pagination__link .page-numbers:hover a, .p-pagination__link .page-numbers.is-active a {
  color: #FFFFFF;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-pagination > * + * {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-pagination > * + * {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .p-single__text {
    margin-top: 6%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__text {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-single__text {
    margin-top: 4%;
  }
}

@media screen and (max-width: 768px) {
  .c-color_bg--blockquote {
    margin-top: 7%;
    padding: 7% 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .c-color_bg--blockquote {
    margin-top: 6%;
    padding: 6%;
  }
}
@media screen and (min-width: 1024px) {
  .c-color_bg--blockquote {
    margin-top: 5%;
    padding: 4%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .c-color_bg--blockquote cite {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .c-color_bg--blockquote cite {
    margin-top: 4.5%;
  }
}

.p-single__full-image {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .p-single__full-image {
    margin-top: 8%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__full-image {
    margin-top: 7%;
  }
}
@media screen and (min-width: 1024px) {
  .p-single__full-image {
    margin-top: 5%;
  }
}
.p-single__half-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.p-single__half-image--center {
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media screen and (max-width: 768px) {
  .p-single__half-image--center {
    margin-top: 8%;
    width: 80%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__half-image--center {
    margin-top: 7%;
    width: 80%;
    max-height: 36rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-single__half-image--center {
    margin-top: 4%;
    width: 45%;
    max-height: 36rem;
  }
}

.wp-block-media-text {
  gap: 3%;
}
@media screen and (max-width: 768px) {
  .wp-block-media-text {
    margin-top: 8%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .wp-block-media-text {
    margin-top: 7%;
  }
}
@media screen and (min-width: 1024px) {
  .wp-block-media-text {
    margin-top: 4%;
  }
}
.wp-block-media-text__content {
  height: 100%;
  padding: 0 !important;
}

.p-single__flex-wraps {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .p-single__flex-wraps {
    margin-top: 10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__flex-wraps {
    margin-top: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .p-single__flex-wraps {
    margin-top: 10%;
  }
}
.p-single__flex-wrap {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media screen and (max-width: 768px) {
  .p-single__flex-wrap {
    flex-flow: column;
    margin: 1%;
  }
  .p-single__flex-wrap:nth-of-type(n+2) {
    margin-top: 4.5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__flex-wrap {
    margin: 2%;
  }
  .p-single__flex-wrap:nth-of-type(n+3) {
    margin-top: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .p-single__flex-wrap {
    padding: 0.5%;
  }
  .p-single__flex-wrap:nth-of-type(n+4) {
    margin-top: 1.5%;
  }
}

@media screen and (max-width: 768px) {
  .p-single__button {
    margin-top: 18%;
    height: 8rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__button {
    margin-top: 7%;
    height: 10rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-single__button {
    margin-top: 5%;
    height: 10rem;
  }
}

.wp-block-button {
  color: #3C2A10;
  border-radius: 2rem;
}
.wp-block-button__link {
  display: flex;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .p-single__bold {
    margin-top: 8%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__bold {
    margin-top: 7%;
  }
}
@media screen and (min-width: 1024px) {
  .p-single__bold {
    margin-top: 4%;
  }
}

.p-visual--main {
  width: auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-visual--main {
    height: 28rem;
    background-image: url(../../img/mainvisual-sp@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--main {
    height: 28rem;
    background-image: url(../../img/mainvisual-pc@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--main {
    height: 53rem;
    background-image: url(../../img/mainvisual-pc@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}
.p-visual--main-title {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .p-visual--main-title {
    top: 12.2rem;
    left: 2.5rem;
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--main-title {
    top: 12rem;
    left: 8.6rem;
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--main-title {
    font-size: clamp(3.6rem, 3.143rem + 0.446vw, 4rem);
    top: 23.4rem;
    left: 8.6rem;
  }
}
.p-visual--archive {
  width: auto;
  position: relative;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .p-visual--archive {
    height: 28rem;
    background-image: url(../../../img/page-title_arcive.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 1%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--archive {
    height: 28rem;
    background-image: url(../../../img/page-title_arcive.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--archive {
    height: 22rem;
    background-image: url(../../../img/archive-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.p-visual--archive.c-color_bg--black-top {
  background-blend-mode: soft-light;
}
.p-visual--archive-title {
  position: absolute;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-visual--archive-title {
    top: 10rem;
    left: 4rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--archive-title {
    top: 10rem;
    left: 8.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--archive-title {
    top: 8.3rem;
    left: 8.6rem;
  }
}
.p-visual--archive-title span {
  display: block;
  position: absolute;
  z-index: 10;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-visual--archive-title span {
    top: 6rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--archive-title span {
    left: 20rem;
    top: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--archive-title span {
    left: 20rem;
    top: 4rem;
  }
}
.p-visual--single {
  width: auto;
  position: relative;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .p-visual--single {
    height: 19rem;
    background-image: url(../../../img/sp-ham-burger-with-vegetables-1639557.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--single {
    height: 46rem;
    background-image: url(../../../img/ham-burger-with-vegetables-1639557.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--single {
    height: 46rem;
    background-image: url(../../../img/ham-burger-with-vegetables-1639557.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.p-visual--page {
  width: auto;
  position: relative;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .p-visual--page {
    height: 19rem;
    background-image: url(../../../img/black-steel-lamp-post-1070945.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--page {
    height: 46rem;
    background-image: url(../../../img/black-steel-lamp-post-1070945.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--page {
    height: 46rem;
    background-image: url(../../../img/black-steel-lamp-post-1070945.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.p-visual--single_page-title {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .p-visual--single_page-title {
    top: 5rem;
    left: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-visual--single_page-title {
    top: 18rem;
    left: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-visual--single_page-title {
    top: 18rem;
    left: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .p-list__contents {
    margin-top: 10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-list__contents {
    margin: 5% 0 0 5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-list__contents {
    margin: 5% 0 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .p-list__content--number {
    margin: 5% 0 0 2%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-list__content--number {
    margin: 1.5% 0 0 3%;
  }
}
@media screen and (min-width: 1024px) {
  .p-list__content--number {
    margin: 1.5% 0 0 3%;
  }
}
.p-list__content--number li {
  list-style: auto;
}
@media screen and (max-width: 768px) {
  .p-list__content--no-number {
    margin: 5% 0 0 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-list__content--no-number {
    margin: 1.5% 0 0 2%;
  }
}
@media screen and (min-width: 1024px) {
  .p-list__content--no-number {
    margin: 1.5% 0 0 2%;
  }
}
@media screen and (max-width: 768px) {
  .p-list__content--decimal {
    padding: 5% 0 0 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-list__content--decimal {
    padding: 1.5% 0 0 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .p-list__content--decimal {
    padding: 1.5% 0 0 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .p-list__content + .p-list__content {
    margin-top: 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-list__content + .p-list__content {
    margin-top: 1.5%;
  }
}
@media screen and (min-width: 1024px) {
  .p-list__content + .p-list__content {
    margin-top: 1.5%;
  }
}

.wp-block-code {
  margin-top: 5%;
}

.p-table {
  border-collapse: collapse;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .p-table {
    margin-top: 7%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-table {
    margin-top: 7%;
  }
}
@media screen and (min-width: 1024px) {
  .p-table {
    margin-top: 5%;
  }
}
@media screen and (max-width: 768px) {
  .p-table tr td:first-of-type {
    padding: 7%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-table tr td:first-of-type {
    padding: 3%;
  }
}
@media screen and (min-width: 1024px) {
  .p-table tr td:first-of-type {
    padding: 2%;
  }
}
@media screen and (max-width: 768px) {
  .p-table .has-text-align-left {
    padding: 7%;
    width: 60%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-table .has-text-align-left {
    padding: 3%;
    width: 63%;
  }
}
@media screen and (min-width: 1024px) {
  .p-table .has-text-align-left {
    padding: 2%;
    width: 70%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-single__content + .p-single__content {
    margin-top: 15%;
  }
}

@media screen and (max-width: 768px) {
  .p-list__contents + .p-list__contents {
    margin-top: 18%;
  }
}

.p-visual--single_page-title.u-position {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .p-visual--single_page-title.u-position {
    left: 4.5rem;
  }
}/*# sourceMappingURL=app.css.map */