@use "../foundation/mixin" as m;



.l-container{


    





    @include m.pc-2{
        display: grid;
        width:100%;
        grid-template-rows: auto 1fr auto ;
        grid-template-columns: 1fr 15%; 
    }
   
}