@use "../foundation/variable" as var;
@use "../foundation/mixin" as m;

.l-footer{
    background-image: url('../../img/レイヤー\ 1.jpg');
    background-color: var.$footer-coler;
    background-size: cover;
    width: 100%;
    height: 100%;

    @include m.pc{
        grid-row:3/4;
        grid-column:1/4;  
    }
}