@use "../foundation/variable" as var;

.l-header{
    display: flex;
    display: grid;
    width: 100%;
    grid-template-columns: 20%;
    grid-template-rows: 10% ;
    background-color: var.$header-color;
}

