@use "../foundation/variable" as var;
@use "../foundation/mixin" as m;

.l-header{
    @include m.pc-2{
        justify-content: space-between;
        grid-row:1/2;
        grid-column:1/2;
        background-color: var.$header-color;
        &__title{
            margin: 2.3% 3.3% 2.4%;
            // font-size: 6.4rem;
            font-size: clamp(4rem, 2.153rem + 2.212vw, 6.4rem);


        }
    }
}

