@use "../foundation/variable" as var;
@use "../foundation/mixin" as m;

.l-header{
    background-color: var.$header-color;
    text-align: center;
    
    &__title{
        font-size: 4rem;
    }
    @include m.sp{
        padding: 10% 0 5%;

    }

    @include m.tab{
        // height: 12%;
        // flex-flow: column;
        padding: 5% 0 7%;
    }

    @include m.pc{
        display: flex;
        justify-content: space-between;
        grid-row:1/2;
        grid-column:1/2;
        &__title{
            margin: 2.3% 3.3% 2.4%;
            // font-size: 6.4rem;
            font-size: clamp(4rem, 1.257rem + 2.679vw, 6.4rem);


        }
    }
}

