@use "../foundation/mixin" as m;

.l-main{
    position: relative;
    @include m.pc{
        grid-row:2/3;
        grid-column:1/2;
    }
}

#l-section{
    >.wp-block-group__inner-container{
        display: flex;
        justify-content: space-between;
    }
    @include m.sp{
        flex-flow: column;
        margin: 6%;
    }
    @include m.tab{
        margin: 4%;
        justify-content:space-between;
    }
    @include m.pc{
        margin: 5%;
        justify-content:space-between;
    }
}