@use "../foundation/variable" as var;
@use "../foundation/mixin" as m;

.l-sideber{
    @include m.pc-2{
        grid-row:1/3;
        grid-column:2/3; 
        background-color: $sideber-color;
    }
}
