@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-404__content{
    margin-top: 25%;

    .c-text--h3{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .c-text--p{
        width: 30%;
        margin: 0 auto;
        margin-top: 3%;
        display: flex;
        justify-content: center;
        a{
            width: 100%;
            height: auto;
            padding: 5%;
        }

    }
    
    @extend .p-card__archive-button
}