@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-archive__text{
    
    &.c-text--p{
        @include m.sp{
            margin-top: 2.5rem;
        }
        @include m.tab{
            margin-top: 2rem;
        }
        @include m.pc{
            margin-top: 2rem;
        }
    }
}