@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-archive{
    &__visual{
        width: auto;
        position: relative;  

        @include m.sp{
            height: 28rem;
            @include bg-img(url(../../../img/archive-top.jpg));
            background-position: center;
        }
        @include m.tab{
            height: 22rem;
            @include bg-img(url(../../../img/archive-top.jpg));
            background-position-y: 50%;
        }
        @include m.pc{
            height: 22rem;
            @include bg-img(url(../../../img/archive-top.jpg));
            // background-position-y: 50%;
            z-index: -10;

        }
    

        // &.c-color_bg--black{
        //     @include m.sp{
        //         background:rgba(0,0,0,0.4);
        //     }
        // }
    }


    &__visual-title{
        position: absolute;

        @include m.sp{
            top: 12.2rem;
            left: 2.5rem;
            font-size: 3.6rem;
        }
        @include m.tab{
            top: 12rem;
            left: 8.6rem;
            font-size: 3.6rem;
        }
        @include m.pc{
            font-size: clamp(3.6rem, 3.143rem + 0.446vw, 4rem);
            top:23.4rem ;
            left:8.6rem ;  
        }

    }  
}