@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as var;

.p-card__main{
    @include m.tab{
        width: 48%;
    }
    @include m.pc{
        width: 48%;
    }
}
.p-card__main + .p-card__main{
    @include m.sp{
        margin-top: 7%;
    }
}

.p-card__archive{
    display: grid;
    // gap: 2%;
    margin-top: 4%;
    display: inline-block;
    &-wrap{
        @include m.sp{
            flex-flow: column;
        }
    }
   &-img{
        justify-content: space-around;
        @include m.sp{
            width: 100%;
        }
        @include m.tab{
            width: 50%;
        }
        @include m.pc{
            width: 50%;
        }
        img{
            object-fit: cover;
        }
    }    
    &-content{
        background-color: var.$archive-color;
        position: relative;
        @include m.sp{
            width: 100%;
            padding: 10% 5%;
        }
        @include m.tab{
            width: 50%;
            padding: 5%;
        }
        @include m.pc{
            width: 50%;
            padding: 5%;
        }
    }
    
    &-sub{
        @include m.sp{
            font-size: 1.6rem;
            margin-top: 5%;
        }
        @include m.tab{
            font-size: 1.6rem;
            margin-top: 10%;
        }
        @include m.pc{
            font-size: clamp(1.6rem, 0.771rem + 1.473vw, 2.4rem);
            margin-top: 10%;
        }
    }
    &-text{
        @include m.sp{
            margin-top: 3%;
            padding-right: 5%;
        }
        @include m.tab{
            margin-top: 2%;
            padding-right: 5%;
        }
        @include m.pc{
            margin-top: 1.5rem;
            padding-right: 10%;
        }
    }
    &-button{
        &.c-button--archive{
            font-size: 1.6rem;

            @include m.sp{
                margin: 10% 23% 0;
                padding: 3%;
                width: 55%;
            }
            @include m.tab{
                margin: 10% 23% 0;
                padding: 3%;
                width: 55%;
            }
            @include m.pc{
                margin: 10% 25% 0;
                padding: 5%;
                width: 55%;
            }
        }
    }
}

.p-card__archive-wrap + .p-card__archive-wrap{
    @include m.sp{
        margin-top: 5%;
    }
    @include m.tab{
        margin-top: 3%;
    }
    @include m.pc{
        margin-top: 2%;
    }
}
