@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as var;

.p-card__main{
    @include m.tab{
        width: 48%;
    }
    @include m.pc{
        width: 48%;
    }
}
.p-card__main + .p-card__main{
    @include m.sp{
        margin-top: 7%;
    }
}

.p-card__archive{
    display: grid;
    gap: 3rem;
    margin-top: 7rem;

    &-wrap{
        @include m.sp{
            flex-flow: column;
            // justify-content:space-between;
            // flex-direction: column;
        }
    }

   &-img{
        justify-content: space-around;
        width: 50%;
        img{
            object-fit: cover;
        }
    }    
    &-content{
        width: 50%;
        background-color: var.$archive-color;
        padding: 5%;
        position: relative;
    }
    &-title{
        @include m.sp{
            font-size: 2rem;
        }
        @include m.tab{
            font-size: 2rem;
        }
        @include m.pc{
            font-size: clamp(2rem, 0.771rem + 1.473vw, 3.6rem);
        }
    }
    &-sub{
        margin-top: 6rem;
        @include m.sp{
            font-size: 1.6rem;
        }
        @include m.tab{
            font-size: 1.6rem;
        }
        @include m.pc{
            font-size: clamp(1.6rem, 0.771rem + 1.473vw, 2.4rem);
        }
    }
    &-text{
        margin-top: 1.5rem;
        font-size: 1.6rem;
        padding-right: 10%;
    }
    &-button{
        &.c-button--archive{
            width: 45%;
            margin: 10% 25% 0;
            padding: 5.5%;
            position: relative;
            a{
                font-size: 1.6rem;
                position: absolute;
                top: 40%;
                left: 35%;

            }
        }
    }
}
