@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;


.p-card__main{
    

    @include m.tab{
        width: 48%;
    }

    @include m.pc{
        width: 48%;
    }
}

.p-card__main + .p-card__main{
    @include m.sp{
        margin-top: 7%;
    }
}
