@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;


.p-footer{
    text-align: center;

    @include m.sp{
        padding: 5% 0 3%;

    }
    @include m.tab{
        padding: 4% 0 2%;

    }
    @include m.pc{
        margin: 2% 0 1% 0;
    }

    p{
        font-size: 1.4rem;
        @include m.sp{
            margin-top: 18%;
        }
        @include m.tab{
            margin-top: 5%;
        }
        @include m.pc{
            margin-top: 2%;
        }
    }
}

.p-footer__link{
    // font-size: 1.8rem;
    @include m.sp{
        font-size: 1.8rem;
    }
    @include m.tab{
        font-size: 2rem;
    }
    @include m.pc{
        font-size: 2rem;
    }

    ul{
        justify-content: center;
        position: relative;

        &::after{
            @include after;
            width: 2rem;
            transform: rotate(90deg);
            border: 0.1rem solid var.$white;
            top: 45%;
            left: 50%;
        }
    }
}

.p-footer__link--shop + .p-footer__link--history{
    margin-left: 3%;
}

.p-footer__layer{
    background-image: url(../../../img/レイヤー\ 1.jpg);
}