@use "../../foundation/variable" as var;

.p-main__title{
    margin:7% 3%;
    padding-bottom: 95%;
    font-size:clamp(4.4rem, 1.658rem + 3.288vw, 8rem) ;
    position: relative;
   
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        border: 0.2rem solid var.$white;
        z-index: 10;
        top: 20%;
    }
}


.p-main--TakeOut{
    @include bg-img(url(../../../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.jpg));
}

.p-main--EatIn{
    @include bg-img(url(../../../img/473d814b175bd517b56eb309f2958725.jpg));
}

.p-main__body{
    margin: 3% 3%;
}

.p-main__sub{
    padding: 1.5% 3%;
}

.p-main__sub + .p-main__sub{
    margin-top: 3%;

}

.p-main__sub-text{
    margin-top: 2%;
}