@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;



.p-main__title{
    position: relative;
    @include m.sp{
        font-size: 4.1rem;
        margin: 3% 6%;
        padding-bottom: 70%;
        &.c-border--line{
            &::after{
                width: 12%;
                top: 23%;
            }
        }
    }
    @include m.tab{
        font-size: clamp(4.1rem, 3.2rem + 1.172vw, 4.4rem);
        margin: 2% 4%;
        padding-bottom: 70%;
        &.c-border--line{
            &::after{
                width: 10%;
                top: 25%;
            }
        }
    }
    @include m.pc{
        margin:5% 3%;
        padding-bottom: 95%;
        font-size:clamp(4.4rem, 0.286rem + 4.018vw, 8rem);
        &.c-border--line{
            &::after{
                width: 10%;
                top: 20%;
            }
        }
    }
}

// .p-main--TakeOut{
//     @include bg-img(url(../../../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.jpg));
//     @include m.sp{
//         background-position: center center
//     }
// }
// .p-main--EatIn{
//     @include bg-img(url(../../../img/473d814b175bd517b56eb309f2958725.jpg));
// }

.p-main__body{
    // >.wp-block-group__inner-container{
    //     display: flex;
    //     flex-flow: column;
    // }
    >.wp-block-group__inner-container{
        display: flex;
        justify-content: space-between;
    }
    @include m.tab{
        margin: 3%;
    }
    @include m.pc{
        margin: 3%;
    }
}

.p-main__sub{
    @include m.sp{
        padding: 4% 6%;
        margin: 5%;
    }
    @include m.tab{
        padding: 3% 6%;
    }
    @include m.pc{
        padding: 1.5% 3%;
    }
}

.p-main__sub + .p-main__sub{
    @include m.tab{
        margin-top: 3%;
    }
    @include m.pc{
        margin-top: 3%;
    }
}


.p-main__sub-title{
    @include m.sp{
        font-size: 2.2rem;
    }
    @include m.tab{
        font-size: clamp(2.2rem, 1.6rem + 0.781vw, 2.4rem);
    }
    @include m.pc{
        font-size: 2.4rem;
    }

}
.p-main__sub-text{
    @include m.sp{
        margin-top: 3%;
        font-size: 1.6rem;
    }
    @include m.tab{
        margin-top: 5%;
        font-size: 1.4rem;
    }
    @include m.pc{
        margin-top: 2%;
        font-size: clamp(1.4rem, 1.171rem + 0.223vw, 1.6rem)
    }
}
