@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-map{
    @include bg-img(url(../../../img/スクリーンショット\ 2020-02-10\ 11.47.42.jpg));
    background-color: #646464;
    background-blend-mode:soft-light;
}

.p-map__title{
    position: relative;
    @include m.sp{
        font-size: 3rem;
        &.c-border--line{
            &::after{
                top: 145%;
                width: 25%;
            }
        }
    }
    @include m.tab{
        font-size: 3rem;
        &.c-border--line{
            &::after{
                top: 135%;
                width: 25%;
            }
        }
    }
    @include m.pc{
        font-size: clamp(3rem, 2.539rem + 0.552vw, 3.6rem);
        &.c-border--line{
            &::after{
                width: 10%;
                top: 170%;
            }
        }
    }
}

.p-map__entry{
    @include m.sp{
        padding: 10%;
    }

    @include m.tab{
        padding: 7% 5%;
    }

    @include m.pc{
        width: 60%;
        padding: 5% 7%;
    }
}

.p-map__body{
    line-height: 3.3rem;

    @include m.sp{
        font-size: 1.4rem;
        margin-top: 15%;
    }

    @include m.tab{
        font-size: 1.4rem;
        margin-top: 5%;
    }

    @include m.pc{
        margin-top: 15%;
        font-size: clamp(0.8rem, 0.186rem + 0.737vw, 1.6rem);
    }
}