@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-pagination{
  color: var.$sidebar-text;
  font-size: 1.6rem; 
  position: relative;
  @include m.sp{
    margin-top: 15%;
    justify-content: space-between;
  }
  @include m.tab{
    margin-top: 12%;
  }
  @include m.pc{
    margin-top: 8%;
  }
  
}
.wp-pagenavi{
  .pages , .nextpostslink , .previouspostslink{
    border: none;
    width: auto;
  }
  .pages , .page , .current{
    @include m.sp{
      display: none;
    }
  }
  span , a{
    display: inline-block;
    background-color: var.$white;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
  }
  .previouspostslink{
    @include m.sp{
      position: absolute;
      left: 0;
      top: 12%;
      z-index: -5;
      &::after{
        content: "前へ";
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
  .nextpostslink{
    @include m.sp{
      position: absolute;
      right: 0;
      top: 12%;
      z-index: -5;
      &::before{
        content: "次へ";
        display: inline-block;
        margin-right: 1rem; 
      } 
    }
  }
  .current{
    background-color:var.$text-color;
    color: var.$white;
  }
  .current , .page , .nextpostslink{
    @include m.tab{
      margin-left: 1.5rem;
    }
    @include m.pc{
      margin-left: 1.5rem;
    }
  }
  .page{
    border: solid 0.1rem var.$sidebar-text;
    &:hover{
      background-color:var.$text-color;
      color: var.$white;
    }
  }
}

