@use "../../foundation/mixin" as m;


.p-sideber{
    margin: 9rem 0 0 14%;

    

    &__sub{
        margin-top: 9rem;
    }

    &__items{
        // font-size: 2rem;
        // font-size: clamp(1rem, 0.232rem + 0.921vw, 2rem);
        margin-top: 3.2rem;
        padding-left: 2rem;
    }
    
    @include m.pc{
        font-size: clamp(1rem, 0.232rem + 0.921vw, 2rem);

    }

}



.p-sideber__item +  .p-sideber__item{
    margin-top: 2rem;
}