@use "../../foundation/mixin" as m;


.p-sidebar{
    &__menu{
        @include m.sp{
            display: none;
            padding: 18rem 0 30rem 4.6rem; 
        }
        @include m.tab{
            display: none;
            padding: 18rem 0 30rem 4.6rem;
        }
        @include m.pc{
            padding: 9rem 0 0 14%;
            font-size: clamp(1.7rem, 0.394rem + 1.565vw, 3.4rem);
        }
    }
    &__box{
        position: absolute;
        // position: relative;
        top: 5rem;
        right: 2rem;
        height: 5rem;
        width: 5rem;
        cursor: pointer;
        @include m.sp{
            &::before{
                @include before;
                content: "";
                width: 5rem;
                height: 0.6rem;
                transform: rotate(45deg);
                background-color: $sidebar-text;
                top: 2rem;
            }
            &::after{
                @include after;
                content: "";
                width: 5rem;
                height: 0.6rem;
                transform: rotate(135deg);
                background-color: $sidebar-text;
                top: 2rem;
            }
        }
    
        @include m.tab{
            &::before{
                @include before;
                content: "";
                width: 5rem;
                height: 0.6rem;
                transform: rotate(45deg);
                background-color: $sidebar-text;
                top: 2rem;
            }
            &::after{
                @include after;
                content: "";
                width: 5rem;
                height: 0.6rem;
                transform: rotate(135deg);
                background-color: $sidebar-text;
                top: 2rem;
            }
        }
    }
    
}

.menu-sidebar-container{
    position: relative;
    @include m.sp{
        padding: 15rem 0 30rem 4.6rem;  
    }
    @include m.tab{
        padding: 15rem 0 30rem 4.6rem;
    }
    @include m.pc{
        padding: 3rem 0 30rem 14%;
        font-size: clamp(1rem, 0.232rem + 0.921vw, 2rem);
    }  
}  

.menu-item-has-children{
    > a{
        font-weight: 700;
        @include m.sp{
            font-size: 2.4rem;
        }
        @include m.tab{
            font-size: 2.4rem;
        }
        @include m.pc{
            font-size: clamp(1.2rem, 0.278rem + 1.105vw, 2.4rem);
        }
    }
    
}

#menu-sidebar{
    > .menu-item{
        margin-top: 5rem;
    }
}
.sub-menu{
    margin-top: 3.2rem;
    padding-left: 2rem;
    @include m.sp{
        font-size: 2rem;
    }
    @include m.tab{
        font-size: 2rem;
    }
}

.sub-menu > *{
    margin-top: 2rem;
}

