@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-single__text > * + * {
    @include m.sp{
        margin-top: 6%;
    }
    @include m.tab{
        margin-top: 5%;
    }
    @include m.pc{
        margin-top: 4%;
    }
}

.c-color_bg--blockquote{
    @include m.sp{
        margin-top: 7%;
        padding: 7% 5%;
    }
    @include m.tab{
        margin-top: 6%;
        padding: 6%;
    }
    @include m.pc{
        margin-top: 5%;
        padding: 4%;
    }
    &-source{
        @include m.tab{
            margin-top: 5%;
        }
        @include m.pc{
            margin-top: 4.5%;
        }
    }
}

.p-single{
    &__full-image{
        width: 100%;
        height: 50%;
        object-fit: cover;
        @include m.sp{
            margin-top: 8%;
        }
        @include m.tab{
            margin-top: 7%;
        }
        @include m.pc{
            margin-top: 5%;
        }
    }
    &__content{
        display: flex;
        gap: 3%;
        @include m.sp{
            margin-top: 8%;
        }
        @include m.tab{
            margin-top: 7%;
        }
        @include m.pc{
            margin-top: 4%;
        }
        p{
            width: 55%;
        }
        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }
    &__half-image{
        object-fit: cover;
        object-position: bottom;
        @include m.sp{
            width: 45%;
            height: 50%;
        }
        @include m.tab{
            width: 45%;
            height: 50%;
        }
        @include m.pc{
            width: 45%;
            max-height: 36rem;
        }
        &--center{
            margin: 0 auto;
            object-fit: cover;
            object-position: bottom;
            @include m.sp{
                margin-top: 8%;
                width: 80%;
            }
            @include m.tab{
                margin-top: 7%;
                width: 80%;
                max-height: 36rem;
            }
            @include m.pc{
                margin-top: 4%;
                width: 45%;
                max-height: 36rem;
            }   
        }
    }
    &__flex-wraps{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5%;
    }
    &__flex-wrap{
        object-fit: cover;
        object-position: bottom;
        @include m.sp{
            width: 100%;
            flex-flow: column;
            &:nth-of-type(n+2){
                margin-top: 4.5%;
            }
        }
        @include m.tab{
            width: 49%;
            &:nth-of-type(n+3){
                margin-top: 2%;
            }
        }
        @include m.pc{
            width: 32%;
            &:nth-of-type(n+4){
                margin-top: 1.5%;
            }
        }
    }
}

.p-single__button{
    color: var.$text-color;
    border-radius: 2rem;
    @include m.sp{
        margin-top: 18%;
        width: 100%;
        height: 8rem;
    }
    @include m.tab{
        margin-top: 7%;
        width: 60%;
        height: 10rem;
    }
    @include m.pc{
        margin-top: 5%;
        width: 30%;
        height: 10rem;
    }   

    button{
        // all: unset;
        display: flex;
        margin: 0 auto;
        height: 100%;
        align-items: center;
        // &:hover{
        //     cursor: pointer;
        // }
    }
}

.p-single__bold{
    @include m.sp{
        margin-top: 8%;
    }
    @include m.tab{
        margin-top: 7%;
    }
    @include m.pc{
        margin-top: 4%;
    }   
}
