@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as var;

.p-table{
    border-collapse: collapse;
    width: 100%;
    @include m.sp{
        margin-top: 7%;
    }
    @include m.tab{
        margin-top: 7%;
    }
    @include m.pc{
        margin-top: 5%;
    }
    tr td:first-of-type {
        @include m.sp{
            padding: 7%;
        }
        @include m.tab{
            padding: 3%;
        }
        @include m.pc{
            padding: 2%;
        }
    }
    .has-text-align-left{
        @include m.sp{
            padding: 7%;
            width: 60%;
        }
        @include m.tab{
            padding: 3%;
            width: 63%;
        }
        @include m.pc{
            padding: 2%; 
            width: 70%; 
        }
    }
}