@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.c-button{
    display: inline-block;
    &--form{
        border: 1px solid var.$sidber-text;
        background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
        display: inline-block;
    }
    &--archive{
        border-radius: 5rem;
        background-color: $white;
        text-align: center;
        display: inline-block;

    }   
}