@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.c-color--white{
    color: $white;
}

.c-color_bg{
    &--white{
        background:rgba(255,255,255,0.8);
    }
    &--black-map{
        @include m.sp{
            background:linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 60%,rgba(255, 255, 255, 0)60%,rgba(255, 255, 255, 0)100%);
        }
        @include m.tab{
            background:rgba(0,0,0,0.2);
        }
        @include m.pc{
            background:rgba(0,0,0,0.2);
        }
    }
    &--black-top{
        background:rgba(0,0,0,0.4);

    }
}

.wp-block-quote{
    background-color: $blockquote-color;
}

