@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.c-flex{
   display: flex;
}

.c-colum{
    >.wp-block-group__inner-container{
        display:flex;
        flex-flow: column;
    } 
}