.l-header__title{
    margin: 6.9rem 6.5rem 7.3rem;
}
.p-header{
    margin: 8.6rem 3.1rem 8.5rem;
}

.p-header--search{
    margin-right: 1.1rem;
}

.menu{
    margin-top: 9rem;
}
.l-sideber__menu{
    margin-top: 3.2rem;
}

.menu-item +  .menu-item{
    margin-top: 2rem;
}

.l-sideber__title{
    margin-top: 4.2rem;
}