html {
    font-size: 10px;
}
.body{
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.font-weight{
    font-weight: 700;
}

.l-header__title{
    font-size: 6.4rem;
}
.l-header__form{
    font-size: 1.6rem;
}


.l-sideber{
    p{
        font-size: 3.4rem;
    }
}
.l-sideber__title{
    font-size: 2.4rem;
}
.l-sideber__menu{
    font-size: 2rem;
    font-family: 'M PLUS 1', sans-serif;
}