.u_fw-700{
    font-weight: 700;
}

.u_fs-34{
    font-size: clamp(1.7rem, 0.394rem + 1.565vw, 3.4rem);
}

.u_fs-24{
    font-size: clamp(1.2rem, 0.278rem + 1.105vw, 2.4rem);

}

.u_fs-16{
    font-size: clamp(0.8rem, 0.186rem + 0.737vw, 1.6rem);
}

.u_ff-M{
    font-family: 'M PLUS 1', sans-serif;
}